
<div class="top"></div>
<div class="spacer"></div>

<!-- header text -->
<div class="container">
  <div class="well">
    <h1>About</h1>
    <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled. Artisan Marfa Blue Bottle locavore. Polaroid Carles Tonx fashion axe. Seitan beard Echo Park authentic tofu Williamsburg cred, American Apparel brunch typewriter skateboard ennui organic pug Godard. Narwhal seitan literally vegan lomo.</p>
  </div>
</div>
<!-- end of section -->

<!-- content -->
<div class="container">
  <div class="row">
    <!-- FAQ contents -->
    <div class="col-sm-4">
      <div class="well">
        <h3>FAQ</h3>
        <p>Here are some FAQs.</p>
        <hr></hr>
        <ul class="simple-list">
          <li><a href="" onclick="scrollTo('#whatIsBitcoin');" title="Go to What is Bitcoin?">What is Bitcoin?</a></li>
          <li><a href="" onclick="scrollTo('#whatIsMaxCoin');" title="Go to What is MaxCoin?">What is MaxCoin?</a></li>
          <li><a href="" onclick="scrollTo('#whatIsAWebWallet');" title="Go to What is a web wallet?">What is a web wallet?</a></li>
        </ul>
      </div>
    </div>  
    <!-- end of FAQs -->

    <!-- "what is bitcoin" -->
    <div class="col-sm-8">
      <div id="whatIsBitcoin" class="well">
        <!-- header and description -->
        <h3>What is Bitcoin?</h3>
        <hr></hr>
        <!-- end of header -->

        <p>Bitcoin is a decentralised, digital currency. Bitcoin was first developed in 2009 and has been gaining popularity ever since. The currency is stored on a users computer in a piece of software known as a <span class="tt">wallet</span> which can be used to send and receive coins using the network. The video below is a great introduction to the currency.</p>

        <!-- video -->
        <div id="bitcoin-video" class="videowrapper">
          <!--[if IE]>
             <iframe width="420" height="315" src="//www.youtube.com/embed/Um63OQz3bjo" frameborder="0" allowfullscreen=""></iframe>
          <![endif]-->
          <!--[if !IE]> -->
             <iframe width="420" height="315" src="//www.youtube.com/embed/Um63OQz3bjo" allowfullscreen=""></iframe>
          <!-- <![endif]--> 
        </div>
        <!-- end of video -->
      </div>
    </div>
    <!-- end of section -->
  </div>

  <!-- FAQ text -->
  <div class="row">
    <div class="col-sm-8 pull-right">
      <div id="whatIsMaxCoin" class="well">
        <h3>What is MaxCoin?</h3>
        <hr ></hr>
        <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled. Artisan Marfa Blue Bottle locavore. Polaroid Carles Tonx fashion axe. Seitan beard Echo Park authentic tofu Williamsburg cred, American Apparel brunch typewriter skateboard ennui organic pug Godard. Narwhal seitan literally vegan lomo.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 pull-right">
      <div id="whatIsAWebWallet" class="well">
        <h3>What is a web wallet?</h3>
        <hr ></hr>
        <p>A web wallet is an website that allows you to store, send and receive coins from your browser. This works in a manner similar to the desktop wallet and has all the advantages of having one, but without having to download the <span class="tt">blockchain</span>. With a web wallet, your coins are also accessible from anywhere in the world - simple!</p>
      </div>
    </div>
  </div>
  <!-- end of FAQs -->
</div>
<!-- end of section -->

