
<div class="top"></div>
<div class="spacer"></div>

<!-- header text -->
<div class="container">
  <div class="well">
    <h1>About</h1>
    <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled. Artisan Marfa Blue Bottle locavore. Polaroid Carles Tonx fashion axe. Seitan beard Echo Park authentic tofu Williamsburg cred, American Apparel brunch typewriter skateboard ennui organic pug Godard. Narwhal seitan literally vegan lomo.</p>
  </div>
</div>
<!-- end of section -->

<!-- content -->
<div class="container">
  <div class="row">
    <!-- FAQ contents -->
    <div class="col-sm-4">
      <div class="well">
        <h3>FAQ</h3>
        <p>Here are some FAQs.</p>
        <hr></hr>
        <ul class="simple-list">
          <li><a href="">What is Bitcoin?</a></li>
          <li><a href="">What is MaxCoin?</a></li>
          <li><a href="">What is a web wallet?</a></li>
        </ul>
      </div>
    </div>
    <!-- end of FAQs -->

    <!-- "what is bitcoin" -->
    <div class="col-sm-8">
      <div class="well">
        <!-- header and description -->
        <h3>What is Bitcoin?</h3>
        <p></p>
        <hr></hr>
        <!-- end of header -->

        <!-- video -->
        <!-- width="560" height="315" -->
        <iframe src="//www.youtube.com/embed/Um63OQz3bjo" frameborder="0" allowfullscreen=""></iframe>
        <!-- end of video -->
      </div>
    </div>
    <!-- end of section -->
  </div>

  <!-- FAQ text -->
  <div class="row">
    <div class="col-sm-8 pull-right">
      <div class="well">
        <h3>What is MaxCoin?</h3>
        <hr ></hr>
        <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled. Artisan Marfa Blue Bottle locavore. Polaroid Carles Tonx fashion axe. Seitan beard Echo Park authentic tofu Williamsburg cred, American Apparel brunch typewriter skateboard ennui organic pug Godard. Narwhal seitan literally vegan lomo.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 pull-right">
      <div class="well">
        <h3>What is a web wallet?</h3>
        <hr ></hr>
        <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled. Artisan Marfa Blue Bottle locavore. Polaroid Carles Tonx fashion axe. Seitan beard Echo Park authentic tofu Williamsburg cred, American Apparel brunch typewriter skateboard ennui organic pug Godard. Narwhal seitan literally vegan lomo.</p>
      </div>
    </div>
  </div>
  <!-- end of FAQs -->
</div>
<!-- end of section -->

