
<div class="top"></div>
<div class="spacer"></div>

<!-- header text -->
<div class="container">
  <div class="well">
    <h1>Get in touch</h1>
    <p>We're always happy to hear from our users. If you'd like to contact us, please use one of the channels, or follow us using social media for regular updates on the service.</p>
    <p>If you're having technical issues please use the <a href="" data-ui-sref="support">support</a> section to contact a member of our team.</p>
  </div>
</div>
<!-- end of section -->

<!-- additional contact information and notes -->
<div class="container">
  <div class="row marketing contact">
    <div class="col-sm-8">
        <div class="row well">
          <div class="col-sm-6 address">
            <p>MaxWallet Inc.</p>
            <p>Merchant Venturer's Bldg</p>
            <p>Woodland Road</p>
            <p>Clifton</p>
            <p>Bristol</p>
            <p>BS8 1UB</p>
            <p class="phone-number">+44 7357000111</p>
          </div>

          <div class="col-sm-6 address-icon">
            <img class="pull-right" src="/anywhere/images/envelope.png" alt="Send us some post!"></img>
          </div>
        </div>

        <div class="row well">
          <div class="col-sm-6 email-icon">
            <img  src="/anywhere/images/josh.png" alt="Send Josh an email!"></img>
            <img  src="/anywhere/images/luke.png" alt="Send Luke an email!"></img>
          </div>

          <div class="col-sm-6 email">
            <p>You can also email the team.</p>
            <p class="email-address"><a href="mailto:luke@maxwallet.co.uk" tabindex="8">luke@maxwallet.co.uk</a></p>
            <p class="email-address"><a href="mailto:josh@maxwallet.co.uk" tabindex="9">josh@maxwallet.co.uk</a></p>
          </div>
        </div>
    </div>

    <!-- Google maps -->
    <div class="col-sm-4">
       <iframe height="310" class="googlemaps" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;aq=0&amp;oq=Merchant+vent&amp;sll=37.0625,-95.677068&amp;sspn=58.337319,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=Merchant+Venturers+Bldg,+Woodland+Rd,+Bristol+BS8,+United+Kingdom&amp;ll=51.455882,-2.603111&amp;spn=0.002845,0.008256&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    </div>
    <!-- end of Google maps -->
  </div>
</div>
<!-- end of section -->

