
<div class="top"></div>

<!-- parallax ribbon with carousel -->
<div class="ribbon">
  <div class="container">
    <div class="jumbotron">

      <!-- carousel code -->
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <!-- first slider -->
          <div class="item">
            <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-01.jpg" alt=""></img>
            <div class="container">
              <div class="carousel-caption">
                <h1>Fast</h1>
                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <a class="btn btn-large btn-primary" href="#">Sign up today</a>
              </div>
            </div>
          </div>
          <!-- end of first slider -->

          <!-- second slider -->
          <div class="item active">
            <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-02.jpg" alt=""></img>
            <div class="container">
              <div class="carousel-caption">
                <h1>Decentralised</h1>
                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
              </div>
            </div>
          </div>
          <!-- end of second slider -->

          <!-- third slider -->
          <div class="item">
            <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-03.jpg" alt=""></img>
            <div class="container">
              <div class="carousel-caption">
                <h1>Free</h1>
                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
              </div>
            </div>
          </div>
          <!-- end of third slider -->
        </div>

        <!-- carousel navigation -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        <!-- end of navigation -->

      </div>
    </div>
    <!-- end of carousel -->

  </div>
</div>
<!-- end of section -->

<!-- create wallet (sign up) section -->
<div class="container sign-up">
  <p><a class="btn btn-lg btn-success" data-ng-href="#create-wallet">Create Wallet</a></p>
</div>
<!-- end of section -->

<!-- additional details -->
<div class="container">
  <div class="row marketing">
    <h1 class="main-features-title">Take control of your money</h1>
    <p class="main-features">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
    </p>
    <h1 class="main-features-title">Worldwide</h1>
    <p class="main-features">
      Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.
    </p>
    <h1 class="main-features-title">Free access</h1>
    <p class="main-features"> 
      Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet. Vestibulum ut justo vel sapien venenatis tincidunt. Phasellus eget dolor sit amet ipsum dapibus condimentum vitae quis lectus. Aliquam ut massa in turpis dapibus convallis. Praesent elit lacus, vestibulum at malesuada et, ornare et est. Ut augue nunc, sodales ut euismod non, adipiscing vitae orci. Mauris ut placerat justo. Mauris in ultricies enim. Quisque nec est eleifend nulla ultrices egestas quis ut quam. Donec sollicitudin lectus a mauris pulvinar id aliquam urna cursus. Cras quis ligula sem, vel elementum mi. Phasellus non ullamcorper urna.
    </p>
  </div>
</div>
<!-- end of section -->

