
<div class="top"></div>

<!-- parallax ribbon with carousel -->
<div class="ribbon">
      <!-- carousel code -->
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <!-- first slider -->
          <div class="item slider1">
            <div class="container">
              <div class="carousel-caption">
                <div class="jumbotron">
                  <h1>Fast</h1>
                  <p class="lead">Send money worldwide in moments, the average transaction time is just a few minutes! MaxCoin is one of the fastest currencies on Earth.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of first slider -->

          <!-- second slider -->
          <div class="item slider2 active">
            <div class="container">
              <div class="carousel-caption">
                <div class="jumbotron">
                  <h1>Decentralised</h1>
                  <p class="lead">With MaxCoin, you control your money. Cryptocurrency is completely decentralise meaning no banks and no prying eyes.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of second slider -->

          <!-- third slider -->
          <div class="item slider3">
            <div class="container">
              <div class="carousel-caption">
                <div class="jumbotron">
                  <h1>Free</h1>
                  <p class="lead">Our wallets will always be free and easy to use. Sign up using the form below.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of third slider -->
        </div>

        <!-- carousel navigation -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        <!-- end of navigation -->

      </div>
    <!-- end of carousel -->
</div>
<!-- end of section -->

<div class="spacer"></div>

<!-- create wallet (sign up) section -->
<div class="container well sign-up">
  <div class="form-horizontal" role="form">
    <div class="form-group">
      <!-- username and password form -->
      <div class="col-sm-4">
        <input type="email" class="form-control" id="inputCreateEmail" placeholder="Email" tabindex="1" />
      </div>
      <div class="col-sm-4" >
        <input type="password" class="form-control" id="inputCreatePassword" placeholder="Password" tabindex="2" />
      </div>
      <!-- end of section -->
  
      <!-- submit button -->
      <div class="col-sm-4">
        <a class="btn btn-lg btn-success" data-ng-href="#create-wallet" tabindex="3">Create Wallet</a>
      </div>
      <!-- end of section -->
    </div>
  </div>
</div>
<!-- end of section -->

<!-- additional details -->
<div class="container">
  <div class="row marketing">
    <h1 class="main-features-title">Take control of your money</h1>
    <p class="main-features">
      With our service at <span class="logo-left">max</span><span class="logo-right">wallet</span> you can regain control of your assets; the use of cryptocurrencies allow people to once more look after their own money, no more banks, just a digital wallet on your computer or in your browser. We offer a fast, safe and secure service from which you can access your <a href="http://www.maxcoin.co.uk/">MaxCoin</a>, from anywhere in the world. Interested in <a href="#" ui-sref="about">finding out more?</a>
    </p>
    <h1 class="main-features-title">Worldwide</h1>
    <p class="main-features">
      Cryptocurrency transcends international borders. You can spend MaxCoin at an ever-growing number of <a href="http://www.maxcoin.co.uk/services">stores</a> in a large number of countries around the globe.
    </p>
    <h1 class="main-features-title">Easily accessible</h1>
    <p class="main-features"> 
      Access your money when you want to, not when your bank is open. The advantage of using a decentralised, digital currency such as MaxCoin is that it's always available. At <span class="logo-left">max</span><span class="logo-right">wallet</span> you can access your money any time of the day or the night, 365 days a year.
    </p>
  </div>
</div>
<!-- end of section -->

