
<div class="top"></div>

<!-- parallax ribbon with carousel -->
<div class="ribbon">
  <!--<div class="container">
    <div class="jumbotron">-->

      <!-- carousel code -->
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <!-- first slider -->
          <div class="item slider1">
            <div class="container">
              <div class="carousel-caption">
                <div class="jumbotron">
                  <h1>Fast</h1>
                  <p class="lead">Flexitarian cred fap ugh Brooklyn High Life. Literally tote bag skateboard, authentic drinking Narwhal Etsy meh bespoke kale chips.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of first slider -->

          <!-- second slider -->
          <div class="item slider2 active">
            <div class="container">
              <div class="carousel-caption">
                <div class="jumbotron">
                  <h1>Decentralised</h1>
                  <p class="lead">Ugh 3 wolf moon pop-up, irony sartorial mumblecore pug Pinterest organic banh mi chia.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of second slider -->

          <!-- third slider -->
          <div class="item slider3">
            <div class="container">
              <div class="carousel-caption">
                <div class="jumbotron">
                  <h1>Free</h1>
                  <p class="lead">3 wolf moon scenester bespoke, vinyl semiotics DIY Shoreditch Bushwick artisan chillwave.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of third slider -->
        </div>

        <!-- carousel navigation -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        <!-- end of navigation -->

      </div>
    <!-- end of carousel -->

    <!--</div>
  </div>-->
</div>
<!-- end of section -->

<div class="spacer"></div>

<!-- create wallet (sign up) section -->
<!--<div class="container">
<div class="jumbotron sign-up">-->
<div class="container sign-up">
  <div class="form-horizontal" role="form">
    <div class="form-group">
      <!-- username and password form -->
      <div class="col-sm-4">
        <input type="email" class="form-control" id="inputCreateEmail" placeholder="Email" tabindex="1" />
      </div>
      <div class="col-sm-4" >
        <input type="password" class="form-control" id="inputCreatePassword" placeholder="Password" tabindex="2" />
      </div>
      <!-- end of section -->
  
      <!-- submit button -->
      <div class="col-sm-4">
        <a class="btn btn-lg btn-success" data-ng-href="#create-wallet" tabindex="3">Create Wallet</a>
      </div>
      <!-- end of section -->
    </div>
  </div>
<!--</div>-->
</div>
<!-- end of section -->

<!-- additional details -->
<div class="container">
  <div class="row marketing">
    <h1 class="main-features-title">Take control of your money</h1>
    <p class="main-features">
      Marfa bespoke meh Terry Richardson Echo Park. Meggings you probably haven't heard of them meh chia. Messenger bag sustainable leggings fingerstache you probably haven't heard of them Schlitz whatever beard, twee Odd Future. Austin church-key fashion axe quinoa, salvia asymmetrical vinyl paleo locavore fingerstache High Life pour-over. Leggings jean shorts sartorial fanny pack, 90's pour-over street art. Beard deep v try-hard Cosby sweater butcher, High Life cray before they sold out artisan Pitchfork VHS occupy master cleanse. Roof party actually tote bag, flexitarian vinyl church-key YOLO gastropub cliche wolf you probably haven't heard of them pork belly meggings 90's paleo.
    </p>
    <h1 class="main-features-title">Worldwide</h1>
    <p class="main-features">
      High Life cray vegan ethnic yr street art Austin, synth authentic pug Bushwick whatever distillery. Before they sold out dreamcatcher ethnic keffiyeh, flannel meh 90's street art irony. Bitters flannel forage sustainable Williamsburg, sriracha pickled raw denim Austin Marfa ethical umami ugh stumptown cred. Hella fashion axe aesthetic, narwhal deep v mixtape ugh chillwave. Sriracha tote bag church-key fashion axe, tousled ennui Portland. Aesthetic VHS bicycle rights Blue Bottle authentic synth. Direct trade tattooed gluten-free, sartorial street art trust fund mustache kitsch fanny pack chillwave leggings fingerstache deep v Odd Future ethical.
    </p>
    <h1 class="main-features-title">Free access</h1>
    <p class="main-features"> 
      Master cleanse Shoreditch distillery blog ethical dreamcatcher, chambray quinoa occupy whatever seitan 8-bit trust fund. Selfies street art 3 wolf moon, Godard High Life seitan Helvetica Echo Park. Blog twee meggings flexitarian, lomo readymade disrupt High Life. Next level ethical +1 quinoa, tofu 8-bit flannel PBR. Gluten-free Truffaut DIY, food truck cray gentrify literally ethnic roof party Neutra Thundercats you probably haven't heard of them Etsy Odd Future. Lo-fi jean shorts locavore, swag retro Pitchfork Austin tousled Godard squid fap Truffaut Portland freegan selfies. Portland art party actually VHS put a bird on it.
    </p>
  </div>
</div>
<!-- end of section -->

