
<div class="top"></div>
<div class="spacer"></div>

<!-- header text -->
<div class="container">
  <div class="well">
    <h1>Press</h1>
    <p>We've been in the news! The following articles are features that have been run on the website. If you've found a piece written about us, or you're interested in doing so and would like some more information, please use the <a href="" data-ui-sref="contact">contact</a> page.</p>
  </div>
</div>
<!-- end of section -->

<!-- articles -->
<div class="container">
  <!-- top row -->
  <div class="row">
    <div class="col-lg-6">
      <div class="well">
        <h3>“A new standard set for altcoins” - <a target="_blank" href="http://www.maxcoin.co.uk/">MaxCoin</a></h3>
        <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled. Artisan Marfa Blue Bottle locavore. Polaroid Carles Tonx fashion axe. Seitan beard Echo Park authentic tofu Williamsburg cred, American Apparel brunch typewriter skateboard ennui organic pug Godard. Narwhal seitan literally vegan lomo.</p>
        <p><a href="#">Continue reading...</a></p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="well">
        <h3>“Innovation in motion” - <a target="_blank" href="http://www.coindesk.com/">CoinDesk</a></h3>
        <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled.</p>
        <p><a href="#">Continue reading...</a></p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="well">
        <h3>“Innovation in motion” - <a target="_blank" href="http://www.coindesk.com/">CoinDesk</a></h3>
        <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled.</p>
        <p><a href="#">Continue reading...</a></p>
      </div>
    </div>
  </div>
  <!-- end of row -->

  <!-- second row -->
  <div class="row">
    <div class="col-lg-3">
      <div class="well">
        <h3>“Innovation in motion” - <a target="_blank" href="http://www.coindesk.com/">CoinDesk</a></h3>
        <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled.</p>
        <p><a href="#">Continue reading...</a></p>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="well">
        <h3>“Innovation in motion” - <a target="_blank" href="http://www.coindesk.com/">CoinDesk</a></h3>
        <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled.</p>
        <p><a href="#">Continue reading...</a></p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="well">
        <h3>“A new standard set for altcoins” - <a target="_blank" href="http://www.maxcoin.co.uk/">MaxCoin</a></h3>
        <p>Pop-up jean shorts YOLO raw denim, sriracha Schlitz occupy 8-bit selfies Portland vinyl. Shabby chic cred Banksy Vice stumptown. Wes Anderson Terry Richardson messenger bag, umami Vice bespoke Blue Bottle try-hard next level Carles viral Neutra pickled. Artisan Marfa Blue Bottle locavore. Polaroid Carles Tonx fashion axe. Seitan beard Echo Park authentic tofu Williamsburg cred, American Apparel brunch typewriter skateboard ennui organic pug Godard. Narwhal seitan literally vegan lomo.</p>
        <p><a href="#">Continue reading...</a></p>
      </div>
    </div>
  </div>
  <!-- end of row -->
</div>
<!-- end of section -->

