
<div class="top"></div>
<div class="spacer"></div>

<!-- header text -->
<div class="container">
  <div class="well">
    <h1>Privacy Policy</h1>
    <p>We value your privacy and your security, they are our biggest concerns. By agreeing to use <span class="logo-left">max</span><span class="logo-right">wallet</span> you are agreeing to the following privacy policy.</p>
  </div>
</div>
<!-- end of section -->

<!-- policy text -->
<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at sem sit amet sem ullamcorper blandit. Maecenas ac lobortis erat. Praesent ullamcorper sed lorem ut sollicitudin. Etiam nec odio hendrerit velit mattis elementum. Aenean aliquam libero eget augue imperdiet, non consectetur mauris ultrices. Morbi orci enim, viverra vitae ante vel, elementum condimentum arcu. Mauris risus est, aliquam quis feugiat eget, lobortis in erat.</p>

  <p>Suspendisse eget tellus arcu. Vivamus aliquet, ligula eget auctor accumsan, enim velit imperdiet nibh, non condimentum felis nibh eget leo. Aenean ullamcorper velit in odio vulputate convallis quis sit amet felis. Fusce pellentesque diam vel lectus rutrum, at feugiat ipsum vehicula. Vivamus mi massa, fringilla at tempor sagittis, accumsan sit amet magna. Maecenas commodo, tortor ac ultrices tincidunt, ante est bibendum tortor, ut consectetur nisi magna sed risus. Pellentesque facilisis convallis mauris, vitae tempor augue facilisis rutrum. Phasellus velit urna, molestie id placerat eget, luctus eu quam. Integer rhoncus porttitor odio nec auctor. Nulla dignissim odio sit amet fringilla dictum. Quisque nisl lacus, fringilla quis hendrerit a, aliquet a nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vulputate posuere est a commodo.</p>

  <p>In eu interdum orci. Nunc a turpis eros. Nunc mollis interdum dui eu gravida. Suspendisse potenti. Donec tincidunt nunc nec vulputate vestibulum. Proin vulputate erat turpis, vitae tristique nibh lobortis eget. Pellentesque aliquet nisl et libero convallis euismod. Pellentesque in velit ac nisl bibendum dictum et non tellus. Donec ac dui nec risus mollis faucibus at id magna. Nullam ante ante, commodo in varius pharetra, mollis id justo. Vivamus consectetur elit massa, at eleifend elit hendrerit ac. Integer posuere tincidunt lorem, at convallis mi consectetur vel. In ut accumsan quam.</p>
</div>
<!-- end of policy text -->

