
<div class="top"></div>
<div class="spacer"></div>

<!-- header text -->
<div class="container">
  <div class="well">
    <h1>Support</h1>
    <p>If you are experiencing technical issues please use the following support form to contact our technical team. We will supply you with a support ticket so that you can track your request. To contact us about any other queries, please use the <a href="" data-ui-sref="contact">contact</a> page. You can also find some general answers and FAQs in the <a href="" data-ui-sref="about">about</a> section.</p>
  </div>
</div>
<!-- end of section -->

<!-- support contact form -->
<div class="container">
  <div class="row">
    <!-- previous tickets column -->
    <div class="col-sm-4">
      <div class="well">
        <!-- column header -->
        <h3>Previous tickets</h3>
        <p>Please consider reading these previously answered tickets. They may help you with your query.</p>
        <hr></hr>
        <!-- end of column header -->

        <!-- tickets section -->
        <ul class="simple-list">
          <li><a href="" data-ui-sref="tickets">My hand got stuck in the blender</a></li>
          <li><a href="" data-ui-sref="tickets">I think I've lost my dog</a></li>
          <li><a href="" data-ui-sref="tickets">Lost and confused. What to do?</a></li>
          <li><a href="" data-ui-sref="tickets">How much wood could a wood chuck chuck if a wood chuck could chuck wood?</a></li>
        </ul>
        <!-- end of tickets section -->
      </div>
    </div>
    <!-- end of section -->

    <!-- new ticket form -->
    <div class="col-sm-8">
      <div class="well">
        <!-- colum header -->
        <h3>Submit new ticket</h3>
        <p>To submit a new ticket, fill out the form below.</p>
        <hr></hr>
        <!-- end of column header -->

        <!-- form proper -->
        <form class="form-horizontal" role="form" data-ng-submit="addData()">
			    <div class="support-form  form-group">
		        <input type="email" class="form-control" placeholder="Email" data-ng-model="email"><!--{{user.email}}--></input>
			    </div>
		      <div class="support-form form-group">
		        <input type="text" class="form-control" placeholder="Summarise the problem" data-ng-model="summary"></input>
		      </div>
		      <div class="support-form form-group">
		        <textarea rows="8" class="form-control" placeholder="Please add more detail here" data-ng-model="detail"></textarea>
		      </div>
		      <button type="submit" class="btn btn-success">Submit</button>
		    </form>
        <!-- end of section -->
      </div>
    </div>
    <!-- end of form -->
  </div>
</div>
<!-- end of section -->

