
<div class="well" data-ng-controller="maxusdCtrl">
  <!-- page introduction -->
	<h1>Wallet Overview</h1>
  <hr></hr>
  <!-- end of section -->

  <!-- toggle balance link -->
	<div>
		<p class="text-muted">Current Balance 
			<span data-ng-click="visible=!visible">
				<a href="" data-ng-if="visible">(hide)</a>
				<a href="" data-ng-if="!visible">(show)</a>
			</span>
		</p>
	</div>
  <!-- end of section -->

  <!-- display balance and associated data -->
	<form class="form-horizontal" role="form">
		<div class="row">
	    <div class="col-sm-10">
        <!-- approximate conversion between MAX and USD -->
	      <p data-ng-show="visible">{{amountOfMax}} &#8776; &#36;{{amountOfMax*data.response.mpusd}}</p>
	    </div>
	  </div>
	  <div class="row">
	    <label class="col-sm-4 control-label">Price Last updated:</label>
	    <div class="col-sm-5">
	      <label class="form-control" id="inputEmail3">{{data.time}}</label>
	    </div>
	  </div>
	</form>
  <!-- end of section -->

  <div class="spacer"></div>

  <!-- recent transactions -->
  <h3>Recent transactions</h3>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Type</th>
          <th>Address</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Receive</td>
          <td>mPQERLaEVcj1cMSMX5tyCcCdBeZCkm6GEK</td>
          <td><span class="transaction-receive-amount">14.88</span></td>
          <td>11/03/2014</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Receive</td>
          <td>mLd65L1UUkjd1wVFCBEiuFLZBwFyV2R7np</td>
          <td><span class="transaction-receive-amount">100</span></td>
          <td>08/03/2014</td>
        </tr>

        <tr>
          <td>3</td>
          <td>Send</td>
          <td>mLd65L1UUkjd1wVFCBEiuFLZBwFyV2R7np</td>
          <td><span class="transaction-send-amount">-88</span></td>
          <td>07/03/2014</td>
        </tr>

        <tr>
          <td>4</td>
          <td>Receive</td>
          <td>mVtB9Yr3jVawGjXH5so7UpCmViKas8umU8</td>
          <td><span class="transaction-receive-amount">108.3842</span></td>
          <td>05/03/2014</td>
        </tr>

        <tr>
          <td>5</td>
          <td>Send</td>
          <td>mVhKUzc6WzVbSH1JxC6DWZTWemNMiZYrF5</td>
          <td><span class="transaction-send-amount">-6.4</span></td>
          <td>05/03/2014</td>
        </tr>
      </tbody>
    </table>
    <p class="text-muted">Click <a href="" data-ui-sref="wallet.transactions">here</a> to view all transactions.</p>
  </div>
  <!-- end of recent transactions -->
</div>

