
<div class="well">
  <!-- page introduction -->
  <h1>Standing Orders</h1>
  <p>Regular payments can be scheduled here.</p>
  <hr></hr>
  <!-- end of page introduction -->

  <!-- standing orders -->
  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Address</th>
          <th>Amount</th>
          <th>Recurs Every</th>
          <th>Recurs For</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>mPQERLaEVcj1cMSMX5tyCcCdBeZCkm6GEK</td>
          <td><span class="transaction-send-amount">-150</span></td>
          <td>6 months</td>
          <td>Indefinitely</td>
          <td>10/01/2014</td>
        </tr>

        <tr>
          <td>2</td>
          <td>mLd65L1UUkjd1wVFCBEiuFLZBwFyV2R7np</td>
          <td><span class="transaction-send-amount">-20</span></td>
          <td>2 weeks</td>
          <td>1 year</td>
          <td>25/12/2013</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- end of orders -->
</div>

