
<div class="well">
  <!-- page introduction -->
  <h1>Address for Luke</h1>
  <p class="text-muted">Added 01/02/2014</p>
  <hr></hr>
  <!-- end of page introduction -->

  <!-- address book component -->
	<form class="form-horizontal" role="form">
		<div class="wallet-form form-group">
      <input type="text" class="form-control" placeholder="Enter Name" value="Luke"></input>
		</div>
	  <div class="wallet-form form-group">
      <input type="text" class="form-control" placeholder="Enter Email" value="mLd65L1UUkjd1wVFCBEiuFLZBwFyV2R7np"></input>
	  </div>
	  <div class="wallet-form form-group">
      <label class="control-label">Notes</label>
      <textarea rows="8" class="form-control" placeholder="Enter any notes you might have" value=""></textarea>
	  </div>

    <div class="spacer"></div>

    <!-- these should only be displayed if the form is modified -->
	  <button type="submit" class="btn btn-success">Save</button>
	  <button type="submit" class="btn btn-danger">Delete</button>
	</form>
  <!-- end of address book -->
</div>

