
<div class="well">
  <!-- page introduction -->
  <h1>Transactions</h1>
  <p>This is a list of all the transactions sent and received using your wallet.</p>
  <hr></hr>
  <!-- end of page introduction -->

  <!-- table of transactions -->
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Type</th>
          <th>Address</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Receive</td>
          <td>mPQERLaEVcj1cMSMX5tyCcCdBeZCkm6GEK</td>
          <td><span class="transaction-receive-amount">14.88</span></td>
          <td>11/03/2014</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Receive</td>
          <td>mLd65L1UUkjd1wVFCBEiuFLZBwFyV2R7np</td>
          <td><span class="transaction-receive-amount">100</span></td>
          <td>08/03/2014</td>
        </tr>

        <tr>
          <td>3</td>
          <td>Send</td>
          <td>mLd65L1UUkjd1wVFCBEiuFLZBwFyV2R7np</td>
          <td><span class="transaction-send-amount">-88</span></td>
          <td>07/03/2014</td>
        </tr>

        <tr>
          <td>4</td>
          <td>Receive</td>
          <td>mVtB9Yr3jVawGjXH5so7UpCmViKas8umU8</td>
          <td><span class="transaction-receive-amount">108.3842</span></td>
          <td>05/03/2014</td>
        </tr>

        <tr>
          <td>5</td>
          <td>Send</td>
          <td>mVhKUzc6WzVbSH1JxC6DWZTWemNMiZYrF5</td>
          <td><span class="transaction-send-amount">-6.4</span></td>
          <td>05/03/2014</td>
        </tr>

        <tr>
          <td>6</td>
          <td>Receive</td>
          <td>mPQERLaEVcj1cMSMX5tyCcCdBeZCkm6GEK</td>
          <td><span class="transaction-receive-amount">18</span></td>
          <td>03/03/2014</td>
        </tr>

        <tr>
          <td>7</td>
          <td>Send</td>
          <td>mLd65L1UUkjd1wVFCBEiuFLZBwFyV2R7np</td>
          <td><span class="transaction-send-amount">-23.3</span></td>
          <td>03/03/2014</td>
        </tr>

        <tr>
          <td>8</td>
          <td>Send</td>
          <td>mLd65L1UUkjd1wVFCBEiuFLZBwFyV2R7np</td>
          <td><span class="transaction-send-amount">-14.0002</span></td>
          <td>01/03/2014</td>
        </tr>

        <tr>
          <td>9</td>
          <td>Standing order</td>
          <td>mVhKUzc6WzVbSH1JxC6DWZTWemNMiZYrF5</td>
          <td><span class="transaction-send-amount">-20</span></td>
          <td>25/02/2014</td>
        </tr>

        <tr>
          <td>10</td>
          <td>Receive</td>
          <td>mVtB9Yr3jVawGjXH5so7UpCmViKas8umU8</td>
          <td><span class="transaction-receive-amount">250.1</span></td>
          <td>24/02/2014</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- end of table -->
  
  <div class="spacer"></div>
  <p class="text-muted">Page 1 of 12. Go to <a href="">next page</a> | <a href="">last page</a>.</p>
</div>

