
<div class="well">
  <!-- page introduction -->
  <h1>Address Book</h1>
  <p>You can keep track of addresses you've sent to or received from here.</p>
  <hr></hr>
  <!-- end of page introduction -->

  <!-- address book component -->
  <div data-ng-controller="addressbookctrl">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<td><strong>Name</strong></td>
					<td><strong>Address</strong></td>
				</tr>
				<tr data-ng-repeat="data in tabledata">
				  <td>{{data.name}}</td>
				  <td>{{data.address}}</td> 
				</tr>
			</table>
		</div>
		<form class="form-inline" role="form" data-ng-submit="addData()">
			<div class="form-group ">
		    <input type="text" class="form-control" placeholder="Enter Name" data-ng-model="name"></input>
			</div>
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Enter Address" data-ng-model="address"></input>
		  </div>
		  <button type="submit" class="btn btn-success">Add</button>
		</form>
	</div>
  <!-- end of address book -->
</div>

