
<div class="top"></div>
<div class="spacer"></div>

<!-- header text -->
<div class="container">
  <div class="well">
    <h1>Support</h1>
    <div data-ui-view="supportSummary"></div>
    <!--<p>If you are experiencing technical issues please use the following support form to contact our technical team. We will supply you with a support ticket so that you can track your request. To contact us about any other queries, please use the <a href="" data-ui-sref="contact">contact</a> page. You can also find some general answers and FAQs in the <a href="" data-ui-sref="about">about</a> section.</p>-->
  </div>
</div>
<!-- end of section -->

<!-- support contact form -->
<div class="container" data-ng-controller="supportCtrl">
  <div class="row">
    <!-- previous tickets column -->
    <div class="col-sm-4">
      <div class="well">
        <!-- column header -->
        <h3>Previous tickets</h3>
        <p>Please consider reading these previously answered tickets. They may help you with your query.</p>
        <hr></hr>
        <!-- end of column header -->

        <!-- tickets section -->
        <ul class="simple-list">
          <li data-ng-repeat="ticket in tickets"><a href="" data-ui-sref="support.ticket({id:ticket.id})">{{ticket.summary}}</a></li>
        </ul>
        <!-- end of tickets section -->
      </div>
    </div>
    <!-- end of section -->

    <!-- new ticket form -->
    <div class="col-sm-8">
      <div class="view" data-ui-view="" data-autoscroll="false"></div>
    </div>
    <!-- end of form -->
  </div>
</div>
<!-- end of section -->

