
<div class="top"></div>
<div class="spacer"></div>

<!-- header text -->
<div class="container">
  <div class="well">
    <h1>Support tickets</h1>
    <p>To create a new ticket please use the <a href="" data-ui-sref="support">support</a> page.</p>
  </div>
</div>
<!-- end of section -->

<!-- support contact form -->
<div class="container">
  <div class="row">
    <!-- previous tickets column -->
    <div class="col-sm-4">
      <div class="well">
        <!-- column header -->
        <h3>Previous tickets</h3>
        <p>Please consider reading these previously answered tickets. They may help you with your query.</p>
        <hr></hr>
        <!-- end of column header -->

        <!-- tickets section -->
        <ul class="simple-list">
          <li><a href="" data-ui-sref="tickets">My hand got stuck in the blender</a></li>
          <li><a href="" data-ui-sref="tickets">I think I've lost my dog</a></li>
          <li><a href="" data-ui-sref="tickets">Lost and confused. What to do?</a></li>
          <li><a href="" data-ui-sref="tickets">How much wood could a wood chuck chuck if a wood chuck could chuck wood?</a></li>
        </ul>
        <hr></hr>
        <!-- end of tickets section -->

        <p>Haven't found what you're looking for? Submit a <a href="" data-ui-sref="support">new ticket</a>.</p>
      </div>
    </div>
    <!-- end of section -->

    <!-- new ticket form -->
    <div class="col-sm-8">
      <div class="well">
        <!-- ticket text -->
        <h3>My hand got stuck in the blender</h3>
        <p>My hand got stuck in the blender whilst making mango sorbet and I'm unsure how to recitfy the situation. I am not injured as I think the mango stone has jammed the device - but I'm scared to try and alter the situation.</p>
        <hr></hr>
        <!-- end of ticket text -->

        <!-- ticket responses -->
        <p>I think the best thing you can do is to switch off the power at the wall. If indeed, as you say, no harm has been done, then sit down and enjoy your sorbet. You might want to consider removing the stone though.</p>
        <p class="text-muted">This response has helped 13 (<a class="support-plus-1" href="">+1</a>) people.</p>
        <hr></hr>
        <!-- end of ticket responses -->

        <!-- add new reply form -->
        <p>To add a new reply to this ticket fill in the form below. If the problem has been solved, please close the ticket.</p>
        <form class="form-horizontal" role="form" data-ng-submit="addData()">
		      <div class="support-form form-group">
		        <textarea rows="8" class="form-control" placeholder="Reply to this ticket" data-ng-model="reply"></textarea>
		      </div>
          <button type="submit" class="btn btn-success" title="Submit reply">Submit</button>
		      <button type="submit" class="btn btn-danger" title="Close support ticket">Close</button>
		    </form>
        <!-- end of form -->
      </div>
    </div>
    <!-- end of form -->
  </div>
</div>
<!-- end of section -->

