
<div class="top"></div>
<div class="spacer"></div>

<!-- header text -->
<div class="container">
  <div class="well">
    <h1>Terms of Service</h1>
    <p>By using this website you are agreeing to the following terms of service. They govern your usage of <span class="logo-left">max</span><span class="logo-right">wallet</span>, our storage of your coins and any legal requirements we must conform We might change these at any time but we'll try and tell you when we do so.</p>
  </div>
</div>
<!-- end of section -->

<!-- tos text -->
<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at sem sit amet sem ullamcorper blandit. Maecenas ac lobortis erat. Praesent ullamcorper sed lorem ut sollicitudin. Etiam nec odio hendrerit velit mattis elementum. Aenean aliquam libero eget augue imperdiet, non consectetur mauris ultrices. Morbi orci enim, viverra vitae ante vel, elementum condimentum arcu. Mauris risus est, aliquam quis feugiat eget, lobortis in erat.</p>

  <p>Suspendisse eget tellus arcu. Vivamus aliquet, ligula eget auctor accumsan, enim velit imperdiet nibh, non condimentum felis nibh eget leo. Aenean ullamcorper velit in odio vulputate convallis quis sit amet felis. Fusce pellentesque diam vel lectus rutrum, at feugiat ipsum vehicula. Vivamus mi massa, fringilla at tempor sagittis, accumsan sit amet magna. Maecenas commodo, tortor ac ultrices tincidunt, ante est bibendum tortor, ut consectetur nisi magna sed risus. Pellentesque facilisis convallis mauris, vitae tempor augue facilisis rutrum. Phasellus velit urna, molestie id placerat eget, luctus eu quam. Integer rhoncus porttitor odio nec auctor. Nulla dignissim odio sit amet fringilla dictum. Quisque nisl lacus, fringilla quis hendrerit a, aliquet a nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vulputate posuere est a commodo.</p>

  <p>In eu interdum orci. Nunc a turpis eros. Nunc mollis interdum dui eu gravida. Suspendisse potenti. Donec tincidunt nunc nec vulputate vestibulum. Proin vulputate erat turpis, vitae tristique nibh lobortis eget. Pellentesque aliquet nisl et libero convallis euismod. Pellentesque in velit ac nisl bibendum dictum et non tellus. Donec ac dui nec risus mollis faucibus at id magna. Nullam ante ante, commodo in varius pharetra, mollis id justo. Vivamus consectetur elit massa, at eleifend elit hendrerit ac. Integer posuere tincidunt lorem, at convallis mi consectetur vel. In ut accumsan quam.</p>

  <p>Donec a ultricies ligula, vitae vulputate sapien. Cras a placerat diam. Cras tellus lorem, adipiscing nec vehicula at, viverra nec felis. Suspendisse potenti. Proin accumsan est et dignissim rutrum. Integer velit odio, placerat in ultricies eget, molestie nec nunc. Donec sed varius urna, non lacinia nibh. Suspendisse potenti.</p>

  <p>In orci justo, suscipit in laoreet id, consequat non mauris. Suspendisse tempus sit amet sem ac egestas. Curabitur in tortor vitae neque pellentesque volutpat. Fusce dapibus, orci ac ultricies dapibus, libero dui imperdiet odio, eget viverra mi mi et justo. Nulla semper congue justo, non pharetra metus vulputate vitae. Vivamus sed sagittis eros. Aliquam tristique posuere turpis sed porta. Proin dapibus justo ac quam sagittis euismod. Nunc mollis urna venenatis felis aliquet sagittis ullamcorper quis metus. Quisque sit amet iaculis turpis. Praesent ante turpis, bibendum id nibh sit amet, rutrum rutrum lacus.</p>
</div>
<!-- end of tos text -->

