
<div class="well">
  <!-- page introduction -->
  <h1>Address for {{name}}</h1>
  <p class="text-muted">Added {{entry.createdAt}}</p>
  <hr></hr>
  <!-- end of page introduction -->

  <!-- address book component -->
	<form class="form-horizontal" role="form">
		<div class="wallet-form form-group">
      <input type="text" class="form-control" data-ng-model="entry.name" placeholder="Enter Name" value="{{entry.name}}"></input>
		</div>
	  <div class="wallet-form form-group">
      <input type="text" class="form-control" data-ng-model="entry.address" placeholder="Enter Address" value="{{entry.address}}"></input>
	  </div>
	  <div class="wallet-form form-group">
      <label class="control-label">Notes</label>
      <textarea rows="8" class="form-control" data-ng-model="entry.notes" placeholder="Enter any notes you might have" value="{{entry.notes}}"></textarea>
	  </div>

    <div class="spacer"></div>

    <!-- these should only be displayed if the form is modified -->
	  <button type="submit" class="btn btn-success" data-ng-click="update()">Save</button>
	  <button type="submit" class="btn btn-primary" data-ui-sref="wallet.addresses">Cancel</button>
	  <button type="submit" class="btn btn-danger" data-ui-sref="wallet.addresses">Delete</button>
	</form>
  <!-- end of address book -->
</div>

