/*** misc. ***/

/* logo display */
.logo-left { font-weight: normal; }
.logo-right { font-weight: bold; }

.logo-left-colour { color: #777; }
.logo-right-colour { color: #e5e5e5; }

.horizontal-bar {
  width: 40%;
  border-top: 0.2em dotted #e5e5e5;
  min-height: 1px;
  text-align: center;
  margin: 0 auto;
}


/*** main.html ***/

/* features */
.main-features-title { font-size: 2.5em; }

.main-features {
  font-size: 1.5em;
  padding-bottom: 0.2em;
}

#sign-up-message {
  font-size:1.5em
}

.sign-up {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sign-up .text-input {
  width: 40%;
  font-size: 1.4em;
  padding: 1.4% 2.4% 0 0;
}

.sign-up .submit-btn {
  float: right;
}

/* ribbon */
.ribbon {
  width: 100%;
}

/* carousel */
.carousel {
  width: 100%;
  min-height: 400px;
}

.carousel .left,
.carousel .right {
  line-height: 200px;
  font-size: 5em;
  padding: 0;
  margin: 0;
}

/* sliders for carousel */
.carousel .slider1,
.carousel .slider2,
.carousel .slider3 {
  width: 100%;
  min-height: 400px;
}

.carousel .slider1 {
  background: url('../images/slider/1.png') no-repeat;
  background-size: 100% auto;
}
.carousel .slider2 {
  background: url('../images/slider/2.png') no-repeat;
  background-size: 100% auto;
}
.carousel .slider3 {
  background: url('../images/slider/3.png') no-repeat;
  background-size: 100% auto;
}

/* ensure the carousel works for all screen resolutions */

/* VGA */
@media (max-width: 640px) {
  .carousel .slider1 {
    background: url('../images/slider/1-640.png') no-repeat;
    background-size: auto auto;
  }
  .carousel .slider2 {
    background: url('../images/slider/2-640.png') no-repeat;
    background-size: auto auto;
  }
  .carousel .slider3 {
    background: url('../images/slider/3-640.png') no-repeat;
    background-size: auto auto;
  }
}

/* WVGA */
@media (max-width: 800px) {
  .carousel .slider1 {
    background: url('../images/slider/1-800.png') no-repeat;
    background-size: auto auto;
  }
  .carousel .slider2 {
    background: url('../images/slider/2-800.png') no-repeat;
    background-size: auto auto;
  }
  .carousel .slider3 {
    background: url('../images/slider/3-800.png') no-repeat;
    background-size: auto auto;
  }
}

/* XGA */
@media (max-width: 1024px) {
  .carousel .slider1 {
    background: url('../images/slider/1-1024.png') no-repeat;
    background-size: auto auto;
  }
  .carousel .slider2 {
    background: url('../images/slider/2-1024.png') no-repeat;
    background-size: auto auto;
  }
  .carousel .slider3 {
    background: url('../images/slider/3-1024.png') no-repeat;
    background-size: auto auto;
  }
}

/* Full HD */
@media (max-width: 1920px) {
  .carousel .slider1 {
    background: url('../images/slider/1-1920.png') no-repeat;
    background-size: auto auto;
  }
  .carousel .slider2 {
    background: url('../images/slider/2-1920.png') no-repeat;
    background-size: auto auto;
  }
  .carousel .slider3 {
    background: url('../images/slider/3-1920.png') no-repeat;
    background-size: auto auto;
  }
}

/*** contact.html ***/

.contact {
  font-size: 1.5em;
}

.address .phone-number,
.email .email-address {
  color: #777;
}

@media (max-width: 800px) {
  .address-icon,
  .email-icon {
    display: none;
    visibility: hidden;
  }

  .contact .spacer {
    display: inline;
    visibility: visible;
  }  
}

@media (min-width: 800px) {
  .contact .spacer {
    display: none;
    visibility: hidden;
  }  

  .address {
    float: left;
  }

  .address-icon {
    float: right;
  }

  .email {
    float: right;
    text-align: right;
  }

  .email-icon {
    float: left;
  }
}

/*** wallet.html and associated states ***/

.qrcode-wrapper {
  height: 256px;
}

/*** modal window ***/

/* sign up button */
.sign-up {
  padding-top: 1%;
}

.sign-up .btn {
  font-size: 1.4em;
  padding: 1.4% 2.4%;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
