/* fill screen height for footer */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.top {
  /* bootstrap navbar is 50px */
  padding-top: 50px;
  min-height: 50px;
  height: 50px;
}

.spacer {
  padding-top: 2%;
}

/* everything but the jumbotron gets side spacing for mobile first views */
.marketing {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

/* page header and nav */
.navbar {
  border-bottom: 0.2em solid #e5e5e5;
  background-color: #333;
  padding-left: 20%;
  padding-right: 20%;
}

/* give the navbar some shadow */
.navbar {
  box-shadow: 0.1em 0 0.2em #888888;
}

.nav {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* ensure the navigation and the logo don't overlap */
.navbar-brand {
  position:absolute;
  left: 20%;
}

/* Logo */
.navbar-brand {
  font-size: 3.6em;
}

/* Central column */
.view { }

.container {
  width: 60%;
  padding: 0;
}

.container-narrow > hr {
  margin: 3% 0;
}

/* ribbon */
.ribbon {
  padding-top: 2%;
  width: 100%;
  background: url(../img/cc.png) no-repeat;
  background-size: 100% auto; /* CSS3 */
}

/* gray area with create wallet button */
.jumbotron {
  text-align: center;

  /* 70% opacity */
  border-bottom: 0.2em solid rgba(229, 229, 229, 0.7);
  background-color: rgba(238, 238, 238, 0.7);
}

/* content below jumbotron */
.marketing p + h4 {
  margin-top: 2.8%;
}

/* page footer and copyright */
footer {
  color: white;
  border-top: 0.2em solid #e5e5e5;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: #386F80;
  font-size: 1.2em;
}

/* ensure footer is consistent on
   mobile and larger devices */

/* VGA */
@media screen and (max-height: 480px) {
  #wrap {
    margin: 0 auto -40px;
    padding: 0 0 40px;
  }

  footer {
    height: 40px;
  }
}

/* VGA */
@media screen and (max-height: 600px) {
  #wrap {
    margin: 0 auto -50px;
    padding: 0 0 50px;
  }

  footer {
    height: 50px;
  }
}

/* WVGA */
@media screen and (max-height: 800px) {
  #wrap {
    margin: 0 auto -60px;
    padding: 0 0 60px;
  }

  footer {
    height: 60px;
  }
}

/* SXGA */
@media screen and (max-height: 1024px) {
  #wrap {
    margin: 0 auto -62px;
    padding: 0 0 62px;
  }

  footer {
    height: 62px;
  }
}

/* Full HD */
@media screen and (max-height: 1080px) {
  #wrap {
    margin: 0 auto -65px;
    padding: 0 0 65px;
  }

  footer {
    height: 65px;
  }
}

/* WQXGA */
@media screen and (max-height: 1600px) {
  #wrap {
    margin: 0 auto -70px;
    padding: 0 0 70px;
  }

  footer {
    height: 70px;
  }
}
