/* Space out content a bit */
body {
  padding-top: 80px;
  padding-bottom: 2%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

/* Center everything at 60% width */
.center {
  width: 60%;
  margin: 0 auto;
}

/* Page header and nav */
.navbar {
  border-bottom: 0.2em solid #e5e5e5;
  background-color: #333;
  padding-left: 20%;
  padding-right: 20%;
}

/* Give the navbar some shadow */
.navbar {
  box-shadow: 0.1em 0 0.2em #888888;
}

.nav {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Ensure the navigation and the logo don't overlap */
.navbar-brand {
  position:absolute;
  left: 20%;
}

/* Logo */
.navbar-brand {
  font-size: 3.6em;
}

/* Central column */
.container {
  width: 60%;
  padding: 0;
}

.container-narrow > hr {
  margin: 3% 0;
}

/* Gray area with create wallet button */
.jumbotron {
  text-align: center;
  border-bottom: 0.2em solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 1.4em;
  padding: 1.4% 2.4%;
}

/* Content below jumbotron */
.marketing p + h4 {
  margin-top: 2.8%;
}

/* Page footer and copyright */
footer {
  color: #777;
  border-top: 0.2em solid #e5e5e5;
  padding-top: 1.9%;
  padding-bottom: 1em;
  text-align: center;
}
