/* fill screen height for footer */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.top {
  /* bootstrap navbar is 50px */
  padding-top: 50px;
  min-height: 50px;
  height: 50px;
}

.spacer {
  padding-top: 2%;
}

/* everything but the jumbotron gets side spacing for mobile first views */
.marketing {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

/* page header and nav */
.navbar {
  border-bottom: 0.2em solid #e5e5e5;
  background-color: #333;
  padding-left: 20%;
  padding-right: 20%;
}

/* give the navbar some shadow */
.navbar {
  box-shadow: 0.1em 0 0.2em #888888;
}

.nav {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* ensure the navigation and the logo don't overlap */
.navbar-brand {
  position:absolute;
  left: 20%;
}

/* Logo */
.navbar-brand {
  font-size: 3.6em;
}

/* Central column */
.view { }

.container {
  width: 60%;
  padding: 0;
}

.container-narrow > hr {
  margin: 3% 0;
}

/* ribbon */
.ribbon {
  padding-top: 2%;
  width: 100%;
  background: url(../img/cc.png) no-repeat;
  background-size: 100% auto; /* CSS3 */
}

/* gray area with create wallet button */
.jumbotron {
  text-align: center;

  /* 70% opacity */
  border-bottom: 0.2em solid rgba(229, 229, 229, 0.7);
  background-color: rgba(238, 238, 238, 0.7);
}

/* content below jumbotron */
.marketing p + h4 {
  margin-top: 2.8%;
}

/* page footer and copyright */
footer {
  color: white;
}

footer .social {
  background-color: #3e7a8c;
  border-top: 0.2em solid #e5e5e5;
}

footer .legal {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #386f80;
  text-align: center;
}

footer h1 {
  font-size: 2em;
  color: white;
  border-bottom: 0.08em dotted black;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer a {
  color: white;
  font-weight: bold;
}

footer a:hover {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

footer .btn {
  font-size: 1.5em;
}

/* ensure footer is consistent on
   mobile and larger devices */

/* VGA */
@media screen and (max-height: 480px) {
  #wrap {
    margin: 0 auto -160px;
    padding: 0 0 160px;
  }

  footer .social {
    height: 130px;
  }

  footer .legal {
    height: 30px;
  }
}

/* VGA */
@media screen and (max-height: 600px) {
  #wrap {
    margin: 0 auto -175px;
    padding: 0 0 175px;
  }

  footer .social {
    height: 140px;
  }

  footer .legal {
    height: 35px;
  }
}

/* WVGA */
@media screen and (max-height: 800px) {
  #wrap {
    margin: 0 auto -190px;
    padding: 0 0 190px;
  }

  footer .social {
    height: 150px;
  }

  footer .legal {
    height: 40px;
  }
}

/* Full HD */
@media screen and (max-height: 1080px) {
  #wrap {
    margin: 0 auto -210px;
    padding: 0 0 210px;
  }

  footer .social {
    height: 160px;
  }

  footer .legal {
    height: 50px;
  }
}

/* WQXGA */
@media screen and (max-height: 1600px) {
  #wrap {
    margin: 0 auto -220px;
    padding: 0 0 220px;
  }

  footer .social {
    height: 165px;
  }

  footer .legal {
    height: 55px;
  }
}
